.navbar {
    margin: 0;
    justify-content: unset;
    width:100%;
    background-color: #534FC3;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: white;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
}

a {
    color: white;
    font-size: 11px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 30px;
}

a:hover {
    color: white;
    font-size: 11px;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
}

.navbar-brand {
    float: left;
    padding-top: 0;
}

.authenticationbuttons {
        background-color: #46E4C4;
        width: 150px;
        height: 35px;
        color: white;
        font-weight: 700;
        font-size: 12px;
        border-radius: 4px;
        border: none;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
}
.authenticationbuttons:hover {
border: 1px solid #46E4C4;
background-color: #fff !important;
color: #534FC3;
}

.toplinks {
    padding-top: 20px;
}

.navbar-brand {
    padding-left: 0;
    margin-left: 0;
    padding-top: 10px;
}