.Dashboard {
    text-align: center;
}
.Dashboard p {
    font-size: 3em;
    margin-bottom: 0;
}
.Dashboard img {
    animation: Animate 2s ease-in-out 1.5s forwards;
    width: 0;
    height: 0;
}

#simple-menu {
    width: 150px;
}

@keyframes Animate{
    0% {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        height: 750px;
        width: 100%;
    }
}