
h1 {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
}

h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #534FC3;
    letter-spacing: 1px;

}

h4 {
    font-family: 'Montserrat', sans-serif;  
    color: #534FC3;
    font-size: 17px;
    
    
}

p {
    color: #9291AB;   
    font-size: 13px;
}

.herotext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;  
    width: 700px;
    color: white;
}

.logo-small {
    color: #534FC3;
    font-size: 50px;
}

.logo {
    color: #534FC3;
    font-size: 200px;
}

.jumbotron { 
    background-color: #534FC3; 
    color: #ffffff;
    margin: 0;
    padding: 150px 60px;
}

.services {
padding-top: 80px;
padding-bottom: 100px;
padding-left: 80px;
padding-right: 80px;
background-color: #F3F2F7; 

}

.icon {
    text-align: left;
}

.cta {
background-color: #534FC3; 
color: #ffffff;
padding: 40px;

}

.pricing {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #F3F2F7; 
    color: darkslategray;
    
    }

.pricingtext {
    color: #9291AB;   
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 500;
}

h2 {
   font-size: 30px;
}


.btn {
background-color: white;
width: 150px;
height: 35px;
color: #534FC3;
font-weight: 700;
font-size: 12px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
display: inline-block;
border-radius: 4px;
border: none;
text-align: center;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

footer {
    bottom: 0;
    width: 100%;
    color: darkslategray;
    text-align: center;
    padding: 50px;
    background-color: #F3F2F7; 
}

.footerlinks {
   float: left;
   padding-left: 30px;
   color: #534FC3;
   font-size: 12px;
}

.footerlinks:hover {
    float: left;
    padding-left: 30px;
    color: #534FC3;
    font-size: 12px;
    font-weight: bold;
 }

.socialicons {
    float: right;
    padding-right: 20px;
    color: #534FC3;
    font-size: 20px;

}

.contactform {
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.panel {
    border: 1px solid #534FC3; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #534FC3;
    background-color: #fff !important;
    color: #534FC3;
}


.panel-heading {
    color: white;
    background-color: #534FC3;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #534FC3;
    color: white;

}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #534FC3;
    color: #fff;
}

.contactheading {
    color: white;
}

.label {
    font-size: 12px;
    text-align: left;
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
}

.contact-btn {
    background-color: #46E4C4;
        width: 800px;
        height: 35px;
        color: white;
        font-weight: 700;
        font-size: 12px;
        border-radius: 4px;
        border: none;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        margin: 0;
    }

    .contact-btn:hover {
        border: 1px solid #46E4C4;
        background-color: #fff !important;
        color: #534FC3;
        }

        .form-control {
            font-size: 12px;
        }

        .pricingrow {
            padding-left: 100px;
            padding-right: 100px;
        }

        .tablet{

            position:relative;
            animation-delay: 5s;
            animation:animateright 2s;
        }
            @keyframes animateright{
                from{right:-300px;opacity:0
                } to{
                    right:0;opacity:1}
                }


    .abouttext {
        width: 400px;
        align-content: center;
    }

    .abouttitle {
        width: 400px;
        align-content: center;
    }

    